body {
    background-color: lightskyblue;
    font-family: helvetica;
}

h1 {
    color: coral;
    font-family: helvetica;
}

h2 {
    color: lightcoral;
    font-family: helvetica;
}

p {
    color: black;
    font-family: helvetica;
}