body {
    background-color: lightskyblue;
    font-family: helvetica;
}

h1 {
    color: darkgoldenrod;
    font-family: helvetica;
}

h2 {
    color: goldenrod;
    font-family: helvetica;
}

p {
    color: ghostwhite;
    font-family: helvetica;
}