body {
    background-color: dodgerblue;
    font-family: helvetica;
}

h1 {
    color: darkorange;
    font-family: helvetica;
}

h2 {
    color:orange;
    font-family: helvetica;
}

p {
    color: ghostwhite;
    font-family: helvetica;
}

li {
    color:darkred;
    font-family: helvetica;
}